*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../programmer.jpg);
	height:100vh;
	background-position:center;
	background-size:70%
	
}
ul{
	float: right;
	list-style-type: none;
}
ul li{
	
	display:inline-block;
}	
ul li a{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border: 1px solid transparent;
	transition:0.6s ease;
}
ul li a:hover{
	background-color:#fff;
	color:#000;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width:1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title mark{
	color: cyan;
	font-size: 40px;
}
.title p strike{
	color: blue;
	font-size: 20px;
	
}
.button {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: cyan;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color:#fff;
	color:#000;
}
.submenu{
	text-transform: none;
	display: none;
	position: absolute;
	width: 100px;
	background-color: orange;
	font-size:20px;	
}
.menu_item:hover .submenu{
	display: block;
	transition: 1s all;	
	animation: 1s drop ease
}

@keyframes drop{
     0%{
	transform: scale(2,2) rotateX(90deg)
	}
     100%{
	transform: scale(1,1) rotateX(0deg)
}
}
.submenu_item:hover{
	background-color: rgba(0,0,0,0.6);
	border-left: 10px solid rgba(450,0,60,0.8);
}
.java_submenu{
	text-transform: none;
	display: none;
	position: absolute;
	width: 100px;
	background-color: black;
	font-size: 15px;
}
.submenu:hover .java_submenu{
	display: block;
}



























